# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd


# Virtual environment
venv/
env/
.venv/

# macOS system files
.DS_Store

student_model.pkl
/data/clean_student_data.csv
/data/college_students_habits_1M.csv
